# Pandas Data Analysis Exercise

Download [Chipotle Dataset](https://github.com/subashgandyer/datasets/blob/main/chipotle.tsv) to walkthrough this exercise

### Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

# set this so the 
%matplotlib inline

### Read the dataset into a dataframe

In [2]:
url = 'https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Display the first few samples

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Find out how many number of samples in the dataset

4622

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Find out how many number of features in the dataset

5

### What are the feature names in the dataset

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Which was the most-ordered item?

### Long way: Groupby item_name, Sum, Sort on quantity, Display in descending order

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Concise Pythonic way solution

              quantity
item_name
Chicken Bowl       761

### For the most-ordered item, how many items were ordered?

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### What was the most ordered item in the choice_description column?

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### How many items were orderd in total?

4972

### Convert the item price into a float

### Long and slow way: Writing a function to convert item price to float and then apply it over dataframe

#### Check the item price type

dtype('O')

#### Create a function to convert the item price into float

dtype('float64')

#### Reset the converstion back to string to try lambda function conversion

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv", sep="\t")
chipo

#### Create a lambda function and change the type of item price

<ipython-input-20-eaaff48cfe7d>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  chipo.item_price_float_lam = chipo.item_price.apply(float_converter)

#### Check the item price type

dtype('float64')

### Complex

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### How much was the revenue for the period in the dataset?

39237.02

### How many orders were made in the period?

1834

### Another way

1834

### What is the average revenue amount per order?

21.39423118865867

### How many different items are sold?

50

In [ ]:
url = 'https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### How many products cost more than $10

                       item_price
item_name
6 Pack Soft Drink           12.98
Barbacoa Bowl               11.75
Barbacoa Burrito            11.75
Barbacoa Crispy Tacos       18.50
Barbacoa Salad Bowl         11.89

31

### Sort by item name

### What is the quantity of the most expensive order?

### How many times a Veggie Salad Bowl ordered?

### How many items more than one canned soda is ordered?

### Create a Histogram of top items bought

### Seaborn plot

In [ ]:
import seaborn as sns

### Create a Scatterplot to show the number of items ordered with respect to item price